@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

$background-color: hsla(0, 0%, 96%, 0.87);
$background-color-header: #343a40;
$text-color-header: white;
$size_header: 50px;
$fuente: 'Roboto', sans-serif;
