@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

$background-color: hsl(48, 100%, 98%);
$background-color-header: #343a40;
$text-color-header: white;
$size_header: 75px;
$fuente: 'Roboto', sans-serif;
