@import './base/variables.scss', './base/mixin.scss', './base/placeholder.scss';
body {
  margin: 0px;
  background-color: $background-color;
  font-family: $fuente;
  margin: 0 auto;
  min-width: 300px;
  //max-width: 800px;
}

h1,
h2,
h3,
p,
a {
  margin: 0;
}
