.task {
  width: 318px;
  //background-color: white;
  border-radius: 3px;
  margin: 10px auto;
  //box-shadow: 0 2px 5px #ccc;
  opacity: 0.1;
}

.task__container {
  background-color: khaki;
}

// .task__container:before {
//   box-shadow: inset 0 0 0 3000px rgba(255, 255, 255, 0.3);
//   background-color: khaki;
//   content: '';
//   // filter: blur(10px);
// }

.task__body--isComplete {
  text-decoration: line-through;
}

.task__delete {
  display: flex;
  flex-direction: row-reverse;
  padding: 2px 2px 0 0;
}

.task__edit {
  display: flex;
  flex-direction: row-reverse;
  padding: 0 2px 2px 0;
}
